In [1]:
#import statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import os
import seaborn as sns

In [2]:
#read files in
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

# Viewing column names Train set

In [4]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [5]:
train.columns.values

array(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'], dtype=object)

In [6]:
train.shape

(891, 12)

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
#locate missing values within the features
percent_null = train.isnull().sum()/train.isnull().count()
percent_null.sort_values(ascending=False)
#we will drop the Cabin featue later due to its incompleteness

Cabin          0.771044
Age            0.198653
Embarked       0.002245
Fare           0.000000
Ticket         0.000000
Parch          0.000000
SibSp          0.000000
Sex            0.000000
Name           0.000000
Pclass         0.000000
Survived       0.000000
PassengerId    0.000000
dtype: float64

In [9]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [10]:
train['Age'] = train['Age'].fillna(train.mean)

# looking into the test set

In [11]:
test.describe()
#some of the age and fare rates are missing.

       PassengerId      Pclass         Age       SibSp       Parch        Fare
count   418.000000  418.000000  332.000000  418.000000  418.000000  417.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344   35.627188
std     120.810458    0.841838   14.181209    0.896760    0.981429   55.907576
min     892.000000    1.000000    0.170000    0.000000    0.000000    0.000000
25%     996.250000    1.000000   21.000000    0.000000    0.000000    7.895800
50%    1100.500000    3.000000   27.000000    0.000000    0.000000   14.454200
75%    1204.750000    3.000000   39.000000    1.000000    0.000000   31.500000
max    1309.000000    3.000000   76.000000    8.000000    9.000000  512.329200

In [12]:
#locate missing values within the features
percent_null_test = test.isnull().sum()/test.isnull().count()
percent_null_test.sort_values(ascending=False)

Cabin          0.782297
Age            0.205742
Fare           0.002392
Embarked       0.000000
Ticket         0.000000
Parch          0.000000
SibSp          0.000000
Sex            0.000000
Name           0.000000
Pclass         0.000000
PassengerId    0.000000
dtype: float64

In [13]:
test.shape

(418, 11)

# Look into the numbers

In [14]:
#Survival rate
#1 denotes a survived passenger
train.groupby('Pclass').Survived.value_counts()

Pclass  Survived
1       1           136
        0            80
2       0            97
        1            87
3       0           372
        1           119
Name: Survived, dtype: int64

In [15]:
survived = train[train['Survived'] == 1]
not_survived = train[train['Survived'] == 0]

print ("Survived: %i (%.1f%%)"%(len(survived), float(len(survived)) /len(train)*100.0))
print ("Not Survived: %i (%.1f%%)"%(len(not_survived), float(len(not_survived))/len(train)*100.0))
print ("Total: %i"%len(train))

Survived: 342 (38.4%)
Not Survived: 549 (61.6%)
Total: 891

In [16]:
train [['Survived','Pclass']].groupby(['Pclass'], as_index=False).mean()

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [17]:
train.corr()["Survived"].sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Pclass        -0.338481
Name: Survived, dtype: float64

In [18]:
#drop any column within +-.1 of 0
drop_columns = ['PassengerId','Parch','SibSp','Ticket','Cabin']
for column in drop_columns:
    train = train.drop(column, axis=1)

In [19]:
#look at data after we remove unneeded features
train.describe()

         Survived      Pclass        Fare
count  891.000000  891.000000  891.000000
mean     0.383838    2.308642   32.204208
std      0.486592    0.836071   49.693429
min      0.000000    1.000000    0.000000
25%      0.000000    2.000000    7.910400
50%      0.000000    3.000000   14.454200
75%      1.000000    3.000000   31.000000
max      1.000000    3.000000  512.329200

In [20]:
train.head()

,Survived,Pclass,Name,Sex,Age,Fare,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22,7.2500,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,71.2833,C
2,1,3,"Heikkinen, Miss. Laina",female,26,7.9250,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,53.1000,S
4,0,3,"Allen, Mr. William Henry",male,35,8.0500,S

In [21]:
#creates a columns of the Title
train_test_data = [train, test] # combining train and test dataset

for dataset in train_test_data:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.')

In [22]:
train.head()

,Survived,Pclass,Name,Sex,Age,Fare,Embarked,Title
0,0,3,"Braund, Mr. Owen Harris",male,22,7.2500,S,Mr
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,71.2833,C,Mrs
2,1,3,"Heikkinen, Miss. Laina",female,26,7.9250,S,Miss
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,53.1000,S,Mrs
4,0,3,"Allen, Mr. William Henry",male,35,8.0500,S,Mr

In [23]:
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col', \
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'Other')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')
    
train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

    Title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4   Other  0.347826

In [24]:
# make it numeric
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Other": 5}
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)

In [25]:
for dataset in train_test_data:
    dataset['Sex'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

In [26]:
#check our progress
train.tail()

RecursionError: maximum recursion depth exceeded while calling a Python object

RecursionError: maximum recursion depth exceeded while calling a Python object

In [27]:
# lets fill the missing values of the Embarked feature
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')

In [28]:
for dataset in train_test_data:
    #print(dataset.Embarked.unique())
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

In [29]:
train.columns.values

array(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Fare', 'Embarked',
       'Title'], dtype=object)

In [30]:
#locate missing values within the features
percent_null = train.isnull().sum()/train.isnull().count()
percent_null.sort_values(ascending=False)
#we will drop the Cabin featue later due to its incompleteness

Title       0.0
Embarked    0.0
Fare        0.0
Age         0.0
Sex         0.0
Name        0.0
Pclass      0.0
Survived    0.0
dtype: float64

In [31]:
train.Embarked.value_counts()
# notice there is not any more nan values

0    646
1    168
2     77
Name: Embarked, dtype: int64

In [32]:
test.columns.values

array(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Title'], dtype=object)

In [33]:
#let drop more festures
drop_train = ['Name','Age']
for column in drop_train:
    train = train.drop(column, axis=1)
drop_test = ['Cabin','Name','Ticket','Age','Parch','SibSp']
for column in drop_test:
    test = test.drop(column,axis=1)

In [34]:
test.head()

   PassengerId  Pclass  Sex     Fare  Embarked  Title
0          892       3    0   7.8292         2      1
1          893       3    1   7.0000         0      3
2          894       2    0   9.6875         2      1
3          895       3    0   8.6625         0      1
4          896       3    1  12.2875         0      3

In [35]:
train.columns.values

array(['Survived', 'Pclass', 'Sex', 'Fare', 'Embarked', 'Title'],
      dtype=object)

In [36]:
test.columns.values

array(['PassengerId', 'Pclass', 'Sex', 'Fare', 'Embarked', 'Title'],
      dtype=object)

In [37]:
#need to concat the people_dummies with the numerical values

In [38]:
test=test.fillna(test.mean())

In [39]:
train.head()

   Survived  Pclass  Sex     Fare  Embarked  Title
0         0       3    0   7.2500         0      1
1         1       1    1  71.2833         1      3
2         1       3    1   7.9250         0      2
3         1       1    1  53.1000         0      3
4         0       3    0   8.0500         0      1

# Model Training

In [40]:
X_train = train.drop('Survived', axis=1)
y_train = train['Survived']
X_test = test.drop("PassengerId", axis=1).copy()

X_train.shape, y_train.shape, X_test.shape

((891, 5), (891,), (418, 5))

# Getting Started on the Model Building

In [48]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.tree import DecisionTreeClassifier

In [43]:
clf = LogisticRegression()
clf.fit(X_train, y_train)
y_pred_log_reg = clf.predict(X_test)
acc_log_reg = round( clf.score(X_train, y_train) * 100, 2)
print (str(acc_log_reg) + ' percent')

78.11 percent

/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [47]:
clf = SVC()
clf.fit(X_train, y_train)
y_pred_svc = clf.predict(X_test)
acc_svc = round(clf.score(X_train, y_train)*100, 3)
print(acc_svc)

86.083

/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [50]:
#decision tree
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
y_pred_decision_tree = clf.predict(X_test)
acc_decision = round(clf.score(X_train, y_train)*100, 2)
print(acc_decision)

91.92

In [44]:
train.dtypes

Survived      int64
Pclass        int64
Sex           int64
Fare        float64
Embarked      int64
Title         int64
dtype: object